<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Railway Reservation Sys</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container my-2">
    <h2>Hello Admin Samir</h2>

    <hr>
    <h2>You can modify on :</h2>
    <a th:href="@{/Users}" class="btn btn-primary">Users</a>
    <hr>
    <a th:href="@{/Trains}" class="btn btn-primary">Trains</a>
    <hr>
    <a th:href="@{/Trips}" class="btn btn-primary">Trips</a>
    <hr>
    <a th:href="@{/Bookings}" class="btn btn-primary">Bookings</a>
    <hr>
    <a th:href="@{/Login}" class="btn btn-danger">Log Out</a>
    <a th:href="@{/}" class="btn btn-danger">Back to Home page</a>
</div>
</body>
</html>