<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Railway Reservation System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
  <h1>Railway Reservation System</h1>
  <hr>
  <h2>Add Booking</h2>
  <form th:action="@{/AddBooking}" th:object="${Booking}" method="post">
    <input type="text" th:field="*{Number}"
           placeholder="Booking Number" class="form-control mb-4 col-4">
    <input type="text" th:field="*{UserId}"
           placeholder="Booking UserId" class="form-control mb-4 col-4">
    <input type="text" th:field="*{TripId}"
           placeholder="Booking TripId" class="form-control mb-4 col-4">
    <hr>
    <button type="submit" class="btn btn-info col-4">Add Booking</button>

  </form>
  <hr>
  <a th:href="@{/Bookings}" class="btn btn-danger">Back to Bookings List</a>
  <a th:href="@{/AdminPage}" class="btn btn-danger">Back to Admin Page</a>
</div>
</body>
</html>